<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="card">
                    <div class="header text-center">
                        <h4 class="title">Office Automation PRO </h4>
                        <p class="category">Looking for more automation possibilites? Please check our Premium Version.</p>
                        <br>
                    </div>
                    <div class="content table-responsive table-full-width table-upgrade">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th class="text-center">Free</th>
                                    <th class="text-center">PRO</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Components</td>
                                    <td>1</td>
                                    <td>2</td>
                                </tr>
                                <tr>
                                    <td>Automated hours per month</td>
                                    <td>2+</td>
                                    <td>20+</td>
                                </tr>
                                <tr>
                                    <td>Documentation</td>
                                    <td>
                                        <i class="fa fa-check text-success"></i>
                                    </td>
                                    <td>
                                        <i class="fa fa-check text-success"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Premium Support</td>
                                    <td><i class="fa fa-times text-danger"></i></td>
                                    <td><i class="fa fa-check text-success"></i></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>Free</td>
                                    <td>$14 per month</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>
                                        <a href="#" class="btn btn-round btn-fill btn-default disabled">Current Version</a>
                                    </td>
                                    <td>
                                        <a target="_blank" href="https://www.xing.com/profile/Julius_Wenzel3" class="btn btn-round btn-fill btn-info">Upgrade to PRO</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
