<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <lbd-chart
                  [title]="'Email Statistics'"
                  [subtitle]="'Last 7 days'"
                  [chartClass]="'ct-perfect-fourth'"
                  [chartType]="emailChartType"
                  [chartData]="emailChartData"
                  [legendItems]="emailChartLegendItems"
                  [withHr]="false"
                  [withButton]="false"
                  [footerIconClass]="'fa fa-clock-o'"
                  [footerText]="'Campaign sent 2 days ago'">
                </lbd-chart>
            </div>
            <div class="col-md-4">
                <lbd-chart
                  [title]="'Weekly Messaging Statistics'"
                  [subtitle]="'Last 7 days'"
                  [chartType]="hoursChartType"
                  [chartData]="hoursChartData"
                  [chartOptions]="hoursChartOptions"
                  [chartResponsive]="hoursChartResponsive"
                  [legendItems]="hoursChartLegendItems"
                  [withHr]="false"
                  [withButton]="false"
                  [footerIconClass]="'fa fa-history'"
                  [footerText]="'Updated 3 minutes ago'">
                </lbd-chart>
            </div>
            <div class="col-md-4">
                <lbd-chart
                  [title]="'Yearly Messaging Statistics'"
                  [subtitle]="'This year'"
                  [chartType]="activityChartType"
                  [chartData]="activityChartData"
                  [chartOptions]="activityChartOptions"
                  [chartResponsive]="activityChartResponsive"
                  [legendItems]="activityChartLegendItems"
                  [withHr]="false"
                  [withButton]="false"
                  [footerIconClass]="'fa fa-check'"
                  [footerText]="'Data information certified'">
                </lbd-chart>
            </div>
        </div>
        <div class="row">   
            <div class="col-md-4">
                <div class="card card-user">
                    <div class="image">
                        <img src="assets/img/faces/xing_module_background.png" alt="..."/>
                    </div>
                    <div class="content">
                        <div class="author">
                            <a href="#">
                                <img class="avatar border-gray" src="assets/img/faces/xing_app_delete.png" alt="..."/>

                                <h4 class="title">Delete Contact Requests<br />
                                    <small>XING version</small>
                                </h4>
                            </a>
                        </div>
                        <p class="description text-center"> <br> Delete open contact requests <br>
                        </p>
                    </div>
                    <hr>
                        <div class="footer2">
                            <div class="stats">
                                <button class="btn2" mat-raised-button onClick="window.open('//google.com')">Go to module</button>
                            </div>
                        </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-user">
                    <div class="image">
                        <img src="assets/img/faces/xing_module_background.png" alt="..."/>
                    </div>
                    <div class="content">
                        <div class="author">
                            <a href="#">
                                <img class="avatar border-gray" src="assets/img/faces/xing_app_followup.png" alt="..."/>

                                <h4 class="title">Follow up<br />
                                    <small>XING version</small>
                                </h4>
                            </a>
                        </div>
                        <p class="description text-center"> <br> Send personalized follow up messages <br>
                            automatically after a defined period of time 
                        </p>
                    </div>
                    <hr>
                        <div class="footer2">
                            <div class="stats">
                                <button class="btn2" mat-raised-button onClick="window.open('//google.com')">Go to app</button>
                            </div>
                        </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-user">
                    <div class="image">
                        <img src="assets/img/faces/xing_module_background.png" alt="..."/>
                    </div>
                    <div class="content">
                        <div class="author">
                            <a href="#">
                                <img class="avatar border-gray" src="assets/img/faces/xing_app_groupmessage.png" alt="..."/>

                                <h4 class="title">Group Messaging<br />
                                    <small>XING version</small>
                                </h4>
                            </a>
                        </div>
                        <p class="description text-center"> <br> Send personalized messages <br>
                            to multiple contacts simultaneously 
                        </p>
                    </div>
                    <hr>
                        <div class="footer2">
                            <div class="stats">
                                <button class="btn2" mat-raised-button onClick="window.open('//google.com')">Go to module</button>
                            </div>
                        </div>
                </div>
            </div>           
        </div>
    </div>
</div>
